body {
  padding: 50px;
}

.tweets {
  list-style-type: none;
}

.tweets .tweet {
  margin: 12px 0;
  overflow: hidden;
}

.tweets .wrapper {
  display: block;
  color: inherit;
  text-decoration: none;
}

.tweets .profile-image {
  width: 15%;
  float: left;
}

.tweets .profile-image img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.tweets .content {
  width: 85%;
  float: left;
}

.tweets .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tweets .name {
  font-size: 1em;
  margin: 0;
}
